#article{
    margin-top:50px;
}
#article .newest{
    border-bottom: 1px solid #FD482C;
    color:#FD482C;
    font-size: 0.34rem;
}
#article .list-container{
    width: 94%;
    padding: 3%;
    margin: 20px 0 10px;
    background-color: rgba(255,255,255,.5);
}
#article .list-container .title{
    margin-bottom:10px;
    display: -webkit-box;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
#article .list-container .title a{
    color:#000;
    font-size: 22px;
    font-weight:bold;
}
#article .list-container .content{
    width: 100%;
}
#article .list-container .c-img{
    overflow: hidden;
    float: left;
    width: 32%;
    height:130px;
    margin-right:20px;
}
#article .list-container .c-img a{
    display: block;
    width: 100%;
    height:100%;
}
#article .list-container .c-img img{
    width: 100%;
    height: 100%;
    transform: scale(1);  /*以y轴为中心旋转*/
    transition:all 1.5s;/*图片放大过程的时间*/
}
#article .list-container .c-img img:hover{
    transform: scale(1.2,1.2);  /*以y轴为中心旋转*/
}
#article .list-container .c-content{
    display: -webkit-box;
    overflow:hidden;
    line-height:22px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 90px;
}

.list-container .info > span{
    margin-right:10px;
}
.list-container .info .icon{
    width: 0.32rem;
    height: 0.32rem;
}
.list-container .info{
    margin-top:0.2rem;
}
.list-container .info .icon i{
    margin-right:3px;
}
.list-container .info .type a{
    color:#181818;
}
.list-container .info .type a:hover{
    color:red;
}

.list-container  .original{
    float: right;
    color:#09f;
}
.list-container  .original a{
    color:#f63;
}




