#article{
    margin-top: 0.2rem;
}
#article .place{
    color:#FD482C;
}
#article .position{
    padding: 0.2rem ;
    border-bottom:1px solid #eee;
    background-color: #fff;
}
#article .list-container{
    width: 90%;
    padding: 5%;
    margin-bottom:10px;
    border: 1px solid #ddd;
    background-color: #fff;
}
#article .list-container .title{
    margin-bottom:10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#article .list-container .title a{
    color:#000;
    font-size: 0.36rem;
    font-weight:bold;
}
#article .list-container .content{
    width: 100%;
}
#article .list-container .c-img{
    overflow: hidden;
    width: 100%;
    height:4rem;
    margin-right:20px;
}
#article .list-container .c-img a{
    display: block;
    width: 100%;
    height:100%;
}
#article .list-container .c-img img{
    width: 100%;
    height: 100%;
}

#article .list-container .c-content{
    display: -webkit-box;
    overflow:hidden;
    line-height:22px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 90px;
    color:#777;
}

.list-container .info .icon{
    display: inline-block;
    margin-right:0.16rem;
    background-repeat: no-repeat;
    background-position: 0 1px;
    font-size: 0.24rem;
}
.list-container .info{
    margin-top:0.2rem;
}
.list-container .info .icon i{
    margin-right:3px;
}

.list-container  .original a{
    display: inline-block;
    margin-top:0.2rem;
    padding: 0.1rem  0.2rem;
    background-color: #ff6633;
    color:#fff;
    text-align:center;
    font-size:0.28rem;
    letter-spacing: 0.1rem;
}
#laypage{
    margin-bottom:0.4rem;
}
#laypage ul li {
    float: left;
    padding:0.1rem 0.2rem;
    margin-right:0.1rem;
    background-color: #fff;
}
#laypage .page ul .on{
    background-color: #1a85dd;
}
#laypage .page ul .on a{
    color:#fff;

}



